.main{ng: {controller: 'MyVideosCtrl'}}
  Hello, world, y'all! {{2+2}}
  #player
    Hello, world!

  %a.btn{ng: {click: 'stop()'}} Stop it, y'all!
  %a.btn{ng: {click: 'play()'}} Play it back!
  %a.btn{ng: {click: 'pause()'}} I need to go to Rainbow. Pause it
  %input{type: 'text', ng: {model: 'id'}}
  %button{ng: {click: 'load(id)'}} Load this video!

  #scrubber-wrapper{ng: {click: 'seekTo($event)'}}
    #scrubber{style: "width: {{progress}}%"}
